{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2015
    },

    "rules": {
        "indent": [1, 2],
        "semi": [1, "always"],
        "eol-last": ["error", "always"]
    }
}