{
	// "parserOptions": {
	// 	"sourceType": "module",
	// 	"ecmaVersion": 2015
	// },

	"extends": [
    "plugin:react-hooks/recommended"
  ],

	"parser": "babel-eslint",

	"rules": {
		"indent": [1, 2],
		"semi": ["error", "always"],
		"eol-last": ["error", "always"]
	}
}